@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

@layer base {
	body {
		background-color: #fef6eb;
		@apply text-pastel-blue-600;
	}
}


/***** utilities *****/
.clickable {
	cursor: pointer;
	pointer-events: all !important;
}
.line-clamp {
	display: -webkit-box;
	-webkit-line-clamp: 1;
	-webkit-box-orient: vertical;
	overflow: hidden;
}

/***** headings/links *****/
@layer base {
	h1 {
		@apply text-3xl;
		@apply text-pastel-blue-400;
		@apply drop-shadow-md;
	}
}

/***** forms *****/
@layer base {
	input[type=text],
	input[type=number] {
		@apply rounded;
		@apply border;
	}

	input[type=number] {
		-moz-appearance: textfield;
	}

	input::-webkit-outer-spin-button,
	input::-webkit-inner-spin-button {
		-webkit-appearance: none;
		margin:0;
	}
}


/***** card elements *****/
@layer base {
	.card {
		@apply p-3;
		@apply my-2;
		@apply rounded-lg;
		@apply border;
		@apply drop-shadow-md;
		@apply text-sm;
	}
}

#timersetting {
	font-size: medium;
    padding: auto;
	text-justify: auto;
	
}
